.user {
  flex: 4;
  padding: 20px;
}
.user-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-title {
  margin: 0;
}
.user-title-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: teal;
}
.user-container {
  display: flex;
}
